# See https: //atom.io/docs/latest/creating-a-package#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Browser'
      'submenu': [
        { 'label': 'Open Left', 'command': 'atom-browser:left' }
        { 'label': 'Open Right', 'command': 'atom-browser:right' }
      ]
    ]
  }
]

